body {
    margin: 0;
}
/********Navigation Bar Styles***************/
#navbar {
  background-color: grey;
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.3s;
}

#navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#navbar img { width: 3%; margin: 4px 20px auto auto; float: right;}


/********Front Page Styles***********/
#front-page {
width: 100%;
height: 540px;
padding-top: 40px;
text-align: left;
background-image: url('pexels-cats.jpg');
background-size: cover;
background-attachment: fixed;
}

#front-page h1 {
font-family: 'Helvetica Neue', sans-serif;
font-size: 50px;
margin: 160px auto 10px 120px;
}

#front-page h3 {
font-family: 'Helvetica Neue', sans-serif;
font-size: 30px;
margin: 50px auto 10px 280px;
}

#front-page hr {
width: 50%;
float: left;
margin: 10px auto 10px 50px;
}
