body {
    margin: 0;
}
/********Navigation Bar Styles***************/
#navbar {
  background-color: grey;
  position: fixed;
  top: 0;
  width: 95%;
  transition: top 0.3s;
  z-index: 99;
}

#navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-family: 'Helvetica Neue', sans-serif;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

/********Homepage Pic Styles***************/
#homepage-pic {
  top: 0;
  position: fixed;
  background-color: grey;
  height: 50px;
  z-index: 99;
}

#nav-pic {
width: 3%;
float: right;
margin: 6px 6px;
}

/********Front Page Styles***********/
#front-page {
width: 100%;
height: 540px;
padding-top: 40px;
text-align: left;
background-image: url('bg.png');
background-size:cover;
background-position:center;
background-attachment: fixed;
background-repeat:no-repeat;
}

#front-page h1 {
font-family: 'Helvetica Neue', sans-serif;
font-size: 50px;
margin: 160px auto 10px 120px;
color: #354259;
}

#front-page h3 {
font-family: 'Helvetica Neue', sans-serif;
font-size: 30px;
margin: 50px auto 10px 280px;
color: #354259;
}

#front-page hr {
width: 50%;
float: left;
margin: 10px auto 10px 50px;
}

/************Profile Page Styles***********/
#about-page {
width: 100%;
height: 600px;
text-align: center;
font-family: 'Helvetica Neue', sans-serif;
margin-top: 50px;
padding-top: 50px;
}

#about-page p {
margin: 30px 400px 0 100px;
padding-right: 100px;
text-align: justify;
font-family: 'Arial', sans-serif;
font-weight: normal;
}

#about-page img{
float: right;
width: 20%;
margin-top: 40px;
margin-right: 100px;
}

/*********Horizontal Rules Styles*******/
.hr {
border-style: dotted none none;
border-width: 10px;
border-color: grey;
width: 4%;
margin-bottom: 50px;
}

.hr-divider {
 overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
    width: 50%;
}

/*********Skills Styles*******/
#skills-page {
text-align: center;
font-family: 'Helvetica Neue', sans-serif;
margin: 50px 0 50px 0;
width: 100%;
height: 450px;
padding: 50px 0;
}

#skills-parent-container {
position: relative;
text-align: center;
}

.skills-container {
width: 25%;
display: inline-block;
margin: 10px;
vertical-align: top;
}

ul {
    padding: 0;
    list-style-type: none;
    margin: 0;
}

li {
margin: 20px 10px;
width: 80%;
text-align: center;
border: solid 1px;
background: #C6DCE4;
color: #153462;
padding: 5px;
border-color: #153462;
}

/*********Header Styles*******/
h1 {
color: #647E68;
margin-bottom: 50px;
}

h2 {
margin-top: 50px;
color: #647E68;
}

h4 {
font-family: 'Arial ', sans-serif;
font-weight: lighter;
margin-bottom: 50px;
font-style: oblique;
}

/*********Span Styles*******/
span {
color: green;
font-weight: bold;
}

/*********Project Page Styles*******/
#project-page {
text-align: center;
font-family: 'Helvetica Neue', sans-serif;
margin: 50px 0 50px 0;
width: 100%;
height: 1400px;
padding-top: 50px;
}

.project {
float: left;
width: 38%;
margin: 20px 5px 30px 40px;
height: 520px;
padding: 30px;
border-style: solid;
background-color: #FFFAE7;
position: relative;
}

.project img {
width: 15%;
}

.project p {
text-align: justify;
}

.project a {
bottom: 10px;
}

.code-btn {
position: absolute;
bottom: 30px;
left: 40%;
}

/*********Button Styles*******/
.btn {
  background: #06283D;
  background-image: -webkit-linear-gradient(top, #06283D, #256D85);
  background-image: -moz-linear-gradient(top, #06283D, #256D85);
  background-image: -ms-linear-gradient(top, #06283D, #256D85);
  background-image: -o-linear-gradient(top, #06283D, #256D85);
  background-image: linear-gradient(to bottom, #06283D, #256D85);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #425F57;
  background-image: -webkit-linear-gradient(top, #425F57, #A8E890);
  background-image: -moz-linear-gradient(top, #425F57, #A8E890);
  background-image: -ms-linear-gradient(top, #425F57, #A8E890);
  background-image: -o-linear-gradient(top, #425F57, #A8E890);
  background-image: linear-gradient(to bottom, #425F57, #A8E890);
  text-decoration: none;
}

/*********Contact Page Styles*******/
#contact-page {
width: 100%;
height: 550px;
background-color: #66BFBF;
text-align: center;
margin-top: 100px;
}

#contact-page img {
width: 5%;
padding:30px 50px 10px 50px;
}

#contact-page p {
  font-family: 'Times New Roman', sans-serif;
  color: white;
  font-weight: 20px;
  margin: 100px 0;
}

#contact-page h1 {
color: #354259;
font-family: 'Helvetica Neue', sans-serif;
padding: 80px 0 0 0;
margin: 20px;
}

#contact-page h4 {
margin: 0 0 50px 0;
padding: 0;
}
